/*========================= Footer ===========================================*/
/*------------------------- Modile -------------------------*/
.footer {
  background-color: #2e2f42;
  padding-top: 97.5px;
  padding-bottom: 96px;
}

.container-footer {
  display: flex;
  flex-direction: column;
}

.footer-pege {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.logo-n {
  display: inline-flex;
  height: 24px;
  align-items: center;
  flex-shrink: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;

  justify-content: center;
}

.web-n {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #f4f4fd;
  font-family: "Raleway", sans-serif;
}

.footer-text-p {
  color: var(--CLOUD, #f4f4fd);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 72px;
}

.social-text {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
  max-width: 264px;
  display: flex;
  text-align: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.footer-socials-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin-bottom: 72px;
}

.footer-socials-item {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  fill: var(--IRIS, #4d5ae5);
}

.footer-socials-link {
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-icons {
  fill: #f4f4fd;
}

.footer-socials-link:hover,
.footer-socials-link:focus {
  background-color: #31d0aa;
}

/*-------------------------------- MOBILE -------------------------*/
/*-------------------------------- TABLET -------------------------*/
@media screen and (min-width: 768px) {
  .container-footer {
    display: flex;
    align-items: baseline;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
  }

  .footer-text-p {
    width: 264px;
    margin-bottom: 0;
  }

  .subscription-input {
    margin-right: 24px;
  }

  .logo-n {
    justify-content: flex-start;
    margin-bottom: 16px;
  }
}

/*-------------------------------- TABLET -------------------------*/
/*-------------------------------- DESKTOP -------------------------*/
@media screen and (min-width: 1158px) {
  .footer {
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
  }

  .logo-n {
    justify-content: flex-start;
  }
  .web-n {
    margin-bottom: 16px;
  }
  .container-footer {
    display: flex;
    align-items: baseline;
    flex-wrap: nowrap;
    gap: 0;
  }
  .footer-text-p {
    width: 264px;
  }
  .footer-pege {
    margin-right: 120px;
  }

  .footer-social-container {
    width: 208px;
    margin-right: 80px;
  }
}
/*------------------------------- DESKTOP -------------------------*/
/*===============================  FOOTER ===========================================*/

/*============================== Subscrube =========================================*/
/*-------------------------------- MOBILE -------------------------*/

.subscription-text {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  display: flex;
  justify-content: center;
}
.subscription-form {
  display: flex;
  gap: 24px;
  flex-direction: column;
  justify-content: center;
}
.subscription-input {
  width: 288px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid var(--WHITE, #fff);
  opacity: 0.3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background-color: transparent;
  margin: 16px;
}

.subscription-button {
  width: 165px;
  height: 40px;
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  padding: 8px 24px;
  gap: 16px;
}

.subscription-icons {
  fill: #f4f4fd;
  margin-left: 16px;
}

.subscription-input::placeholder {
  color: #ffffff;
}

/*-------------------------------- MOBILE -------------------------*/

/*-------------------------------- TABLET -------------------------*/
@media screen and (min-width: 768px) {
  .subscription-form {
    flex-direction: row;
  }

  .subscription-text {
    justify-content: flex-start;
  }
}
/*-------------------------------- TABLET -------------------------*/

/*-------------------------------- DESKTOP -------------------------*/
@media screen and (min-width: 1158px) {
  .form-subscription {
    margin-left: 80px;
  }

  .subscription-form {
    display: flex;
  }

  .subscription-text {
  }

  .subscription-input {
    width: 264px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: #ffffff;
    padding-left: 16px;
  }

  .subscription-button:hover,
  .subscription-button:focus {
    background-color: #404bbf;
  }

  .subscription-icons {
    fill: #f4f4fd;
    margin-left: 16px;
  }
}

/*-------------------------------- DESKTOP -------------------------*/
/*================================== FOOTER-FORM =========================================*/
