/* 
0px - 767px
*/

@media screen and (max-width: 320px) {
  .head {
    display: none;
  }

  .social-list {
    display: none;
  }

  .modal {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99999999;
    width: 100%;
    height: 100%;
    background-color: #1e1823;
    transform: translateX(100%);
    transition: transform 250ms ease-out;
  }

  .modal.is-open {
    transform: translateX(0%);
  }

  .close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    border: none;
    background-color: transparent;
    padding: 0;
    line-height: 0;
  }

  .close-btn-icon {
    stroke: var(--secondary-color);
  }
}

.head {
  padding-top: 20px;
  padding-bottom: 14px;
}

.page-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.29;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: var(--primary-color);
}

.open-modal-btn {
  border: none;
  background-color: transparent;
  padding: 0;
  line-height: 0;
  stroke: var(--primary-color);
}

.open-modal-btn:hover,
.open-modal-btn:focus {
  stroke: var(--accent-color);
}

.open-close-btn-icon {
  transition: stroke 250ms ease-out;
}

@media screen and (min-width: 320px) {
  .open-modal-btn {
    display: none;
  }

  .modal {
    display: none;
  }

  .head {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .page-header-container {
    display: flex;
    justify-content: space-between;
  }

  .page-navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 288px;
  }

  .nav-list {
    display: flex;
    column-gap: 20px;
  }

  .panel {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: -0.02em;
    color: var(--primary-color);
    transition: color 250ms ease-out;
  }

  .panel:hover,
  .panel:focus {
    color: var(--accent-color);
  }

  .contact-list {
    display: flex;
    column-gap: 14px;
  }

  .contact-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid rgba(17, 17, 17, 0.1);
    transition: border-color 250ms ease-out;
  }

  .contact-item:hover,
  .contact-item:focus {
    border-color: rgba(253, 146, 34, 0.1);
  }

  .open-mobile-menu-icon {
    transition: fill 250ms ease-out;
  }

  .social-list-link:hover .social-list-icon,
  .social-list-link:focus .social-list-icon {
    fill: var(--accent-color);
  }
}

@media screen and (min-width: 1168px) {
  .page-navigation {
    max-width: 898px;
  }

  .logotype {
    font-size: 18px;
    line-height: 1.11;
  }

  .menu {
    column-gap: 24px;
  }
}
